{{/*Copyright 2016 The Solvist Author(s). All rights reserved. */}}

{{define "content"}}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Tasks</div>
                    <div class="panel-body">
                        {{template "listTasks" .Tasks}}
                    </div>
            </div>
        </div>
    </div>
{{end}}
