{{define "listTask"}}
    <tr>
        <td>
            <b>problem Name:</b> {{.ProblemName}}
        </td>
        <hr>
        <td>
            <b>problem Source:</b> {{.ProblemOJ}}
        </td>
        <hr>
        <td>
            <b>problem ID:</b> {{.ProblemID}}
        </td>
        <hr>
        <td>
        <form action={{.ProblemURL}} method="get">
            <button type="submit" class="btn btn-primary">Problem Link</button>
        </form>
        </td>
    </tr>
{{end}}
