{{define "listTasks"}}
    <ul class="list-group">
        {{range .}}
            <li class="list-group-item">
                {{template "listTask" .}}
            </li>
        {{end}}
    </ul>
{{end}}
