{{define "content"}}
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Login</div>
            <div class="panel-body">
                {{template "login"}}
            </div>
        </div>
    </div>
</div>
{{end}}
