{{define "content"}}
    <div class="row">
        <div class="col-md-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Edit <b>{{.Note.ProblemName}}</b></h3>
                </div>
                <div class="panel-body">
                    {{template "noteEditForm" .Note}}
                </div>
            </div>
        </div>
    </div>
{{end}}
