{{define "notesList"}}
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                {{range .}}
                        <ul class="list-group">
                            {{template "notesListView" .}}
                        </ul>
                {{end}}
            </div>
        </div>
    </div>
{{end}}
