{{/*Copyright 2016 The Solvist Author(s). All rights reserved. */}}

{{define "tasksList"}}
    <div class="container">
    <div class="row">
            <div class="col-md-10">
                {{range .}}
                    <ul class="list-group">
                        {{template "listTask" .}}
                    </ul>
                {{end}}
            </div>
        </div>
    </div>
{{end}}
