{{define "content"}}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">New Task</div>
            <div class="panel-body">
                {{template "newTaskForm" .}}
            </div>
        </div>
    </div>
</div>
{{end}}
